body{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: #414141;
  overflow-x: hidden;
}

.bold{
  font-weight: bold;
}

.italics{
  font-style: italic;
}

.viz-area{
  display:flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.appHeader{
  display: flex;
  font-size:20px;
  width:100%;
  align-items: center;
  font-weight: bold;
  height: 50px;
  background-color: #333;
  color:#fff;
  justify-content: space-between;
  align-items: center;
}

.headerSubNote{
  font-size:16px;
  font-weight: normal;
  margin-left: 10px;

}
a.headerLink {
  font-style: italic;
}

a.headerLink:visited {
  text-decoration-color: white;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: #e7ebf0;
  display: flex;
  justify-content: center;
  font-size:14px;
  width:100%;
  align-items: center;
  height: 40px;
  padding:0 10px
}


@media only screen and (max-width: 1024px) {
  
  .footer{
    position: static;
    height: auto;
    padding:10px
  }
}

.headerTitle{
  padding:0 20px;
  display: flex;
  align-items: baseline;
}
.icons{
  display:flex;
  height:24px;
  margin: 0 20px 0 10px;
}

.fbIcon{
  margin-right:10px;
}
a{    
  color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.chilicornLogo{
  width:16px;
  margin-left:10px;
}