body{
  font-family:'IBM Plex Sans', sans-serif;
  font-size: 18px;
  color: #414141;
  overflow-x: hidden;
}

.bold{
  font-weight: bold;
}

.viz-area{
  display:flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.footer{
  position: fixed;
  bottom: 0;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  font-size:14px;
  width:100%;
  align-items: center;
  height: 40px;
}

.icons{
  display:flex;
  height:24px;
  margin: 0 10px;
}

.fbIcon{
  margin-right:10px;
}
a{
  text-decoration: none;
  font-style: italic;
}