.mapHeader{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    align-items: center;
}
.dateContainer{
    display: flex;
    align-items: center;
}

.date{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.replay{
    padding: 10px;
    background-color: #eaeaea;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.disabled{
    opacity: 0.2;
}
.playIcon{
    margin-right:10px;
    width:20px;
    height:20px;
}

.tabContainer{
    display: flex;
    margin-right: 5px;
}

.tab{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    color:rgba(65,65,65,1);
    cursor: pointer;
}

.selectedTab{
    font-weight: bold;
    background-color: #eaeaea;
    color: rgb(224, 26, 37)

}
.tab:first-of-type{
    border-radius: 4px 0 0 4px;
}
.tab:last-of-type{
    border-radius: 0 4px 4px 0;
}

.buttonTab{
    font-size: 14px;
    color:rgba(65,65,65,1);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin:0 10px;
}

.selectedButtonTab{
    font-weight: bold;
}
.checkBox{
    width:16px;
    height:16px;
    border:1px solid #aaa;
    border-radius: 2px;
    margin-right:5px;
    background-color: #fff;
}
.selected > .checkBox{
    background-color: #414141 ;
}
.selected{
    font-weight: bold;
    color: rgb(224, 26, 37)
}
.tickIcon{
    width: 16px;
    height:16px;
}

.title{
    height:60px;
    padding: 0 10px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    display: flex;
    margin:10px 20px 0 20px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.small{
    font-size:14px;
}
.titleCountry{
    font-size: 16px;
    text-align: left;
}

.blue{
    color:#0aa5c2;
    font-size:20px;
}
.red{
    color:#e01a25;
}

.confirmedTitleMap{
    margin: 0 40px;
}

.rightOptions{
    display: flex;
}


@media only screen and (max-width: 1024px) {
    .mapHeader {
      flex-wrap: wrap;
      height:auto;
      justify-content: space-around;
    }
    .dateContainer{
        margin: 20px 0;
    }
    .title{
        flex-wrap: wrap;
        height:auto;
        justify-content: center;
        margin-top: 20px;
    }
    .titleCountry, .confirmedTitleMap , .deathTitleMap{
        width:100%;
        margin:10px 0;
        text-align: center;
    }
  }

  
.buttonTab:hover{
    color: rgb(224, 26, 37)
}

.disabled:hover{
    color: #414141
}