.mapHeader{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    align-items: center;
}
.dateContainer{
    display: flex;
    align-items: center;
}

.date{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.replay{
    padding: 10px;
    background-color: #eaeaea;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.disabled{
    opacity: 0.2;
}
.playIcon{
    margin-right:10px;
    width:20px;
    height:20px;
}

.tabContainer{
    display: flex;
    margin-right: 10px;
}

.tab{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #f1f1f1;
    background-color: #fafafa;
    color:rgba(65,65,65,0.5);
    cursor: pointer;
}
.tab:first-of-type{
    border-radius: 4px 0 0 4px;
}
.tab:last-of-type{
    border-radius: 0 4px 4px 0;
}

.buttonTab{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #aaa;
    color:rgba(65,65,65,1);
    border-radius: 4px;
    cursor: pointer;
}
.buttonTab:hover{
    background-color: #eaeaea;
}

.selectedButtonTab{
    background-color: #eaeaea;
    font-weight: bold;

}

.selected{
    font-weight: bold;
    color:rgba(65,65,65,1);
    background-color: #eaeaea;
}

.title{
    height:60px;
    padding: 0 10px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    display: flex;
    margin:10px 20px 0 20px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.small{
    font-size:14px;
}
.titleCountry{
    font-size: 20px;
}
.red{
    color:#e01a25;
}

.confirmedTitleMap{
    margin: 0 40px;
}

.rightOptions{
    display: flex;
}

@media only screen and (max-width: 800px) {
    .mapHeader {
      flex-wrap: wrap;
      height:auto;
      justify-content: space-around;
    }
    .dateContainer{
        margin: 20px 0;
    }
    .title{
        flex-wrap: wrap;
        height:auto;
        justify-content: center;
        margin-top: 20px;
    }
    .titleCountry, .confirmedTitleMap , .deathTitleMap{
        width:100%;
        margin:10px 0;
    }
  }