.mapHeader{
    display:flex;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    height: 60px;
    align-items: center;
}
.dateContainer{
    display: flex;
    align-items: center;
}

.date{
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
}

.replay{
    margin-right: 10px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    font-style: italic;
    color:#999;
}

.replay:hover{
    font-weight: #414141;
}

.disabled{
    opacity: 0.2;
}

.disabled:hover{
    font-weight: #999;
}
.playIcon{
    margin-right:5px;
    width:16px;
    height:16px;
}

.tabContainer{
    display: flex;
    margin-right: 5px;
}

.tab{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    color:rgba(65,65,65,1);
    cursor: pointer;
    text-align: left;
}

.tab[aria-pressed="true"] {
    font-weight: bold;
    background-color: #eaeaea;
    color: rgb(224, 26, 37)
}

.tab:first-of-type{
    border-radius: 4px 0 0 4px;
}

.tab:last-of-type{
    border-radius: 0 4px 4px 0;
}

/* Button Tabs */
.buttonTab{
    font-size: 14px;
    color:rgba(65,65,65,1);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    margin:0 10px;
}

.checkBox{
    width:16px;
    height:16px;
    border:1px solid #aaa;
    border-radius: 2px;
    margin-right:5px;
    background-color: #fff;
}
.tickIcon{
    width: 16px;
    height:16px;
}

.buttonTab:hover{
    color: rgb(224, 26, 37)
}

/* State-based selectors for pressed and disabled*/

.buttonTab[aria-pressed="true"] {
    font-weight: bold;
    color: rgb(224, 26, 37)
}

.buttonTab[aria-pressed="true"] > .checkBox {
    background-color: #414141 ;
}

.buttonTab[disabled] {
    opacity: 0.5;
}

.buttonTab[disabled]:hover {
    color: #414141;
    cursor: not-allowed;
}

.title{
    height:60px;
    padding: 0 10px;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    display: flex;
    margin:10px 20px 0 20px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.small{
    font-size:14px;
}
.titleCountry{
    font-size: 18px;
    text-align: left;
}

.blue{
    color:#0aa5c2;
}
.red{
    color:#e01a25;
}

.confirmedTitleMap{
    margin: 0 20px;
}

.rightOptions{
    display: flex;
}


@media only screen and (max-width: 1024px) {
    .mapHeader {
      flex-wrap: wrap;
      height:auto;
      justify-content: space-around;
    }
    .dateContainer{
        margin: 20px 0;
    }
    .title{
        flex-wrap: wrap;
        height:auto;
        justify-content: center;
        margin-top: 20px;
    }
    .titleCountry, .confirmedTitleMap , .deathTitleMap{
        width:100%;
        margin:10px 0;
        text-align: center;
    }
  }

@media only screen and (max-width: 1600px) {
    .date{
        font-size: 24px;
    }
}

.button-replay{
    text-align: left;
}

.buttonTab:hover{
    color: rgb(224, 26, 37)
}

.disabled:hover{
    color: #414141
}

.titleDate{
    font-size: 18px;
    color:#aaa;
}

.mapContainer{
    display: flex;
    justify-content: flex-end;
}

.buttonContainer{
    padding-right: 20px;
    position: fixed;
    margin:20px 0;
}

.backToWorld {
    opacity: 0;
    background-color: #eaeaea;
    border: 1px solid #f1f1f1;
    padding:10px;
    cursor:pointer;
    pointer-events: none;
    transition: opacity 200ms;
    font-size: 14px;
}
.backToWorld.active {
    opacity: 1;
    pointer-events: auto;
}