.countryRow{
    display: flex;
    padding: 10px;
    background-color: #fff;;
    border-bottom:1px solid #f1f1f1;
    font-size:14px;
    cursor: pointer;
    justify-content: space-between;
}

.countryRow:hover{
    background-color: #f1f1f1;
}

.countryName{
    flex:0 1 25%;
    font-weight: bold;
}
.countryTitle{
    flex:0 1 25%;
}

.tableSubNote{
    font-size:12px;
}

.header{
    background-color: #f1f1f1;
}

.countryTable{
    overflow:'auto';
    overflow-x:hidden;
}

.numbers{
    flex:0 1 25%;
    text-align: right;
    padding:0 7px;
}
