.countryRow {
    display: flex;
    padding: 10px;
    background-color: #fff;;
    border-bottom:1px solid #f1f1f1;
    font-size:14px;
    cursor: pointer;
    justify-content: space-between;
}

.countryRow:hover{
    background-color: #f1f1f1;
}

.countryName{
    flex:0 1 25%;
    font-weight: bold;
}
.countryTitle{
    flex:0 1 25%;
}

.tableSubNote{
    font-size:12px;
}

.header{
    background-color: #f1f1f1;
    cursor: unset;
}

.countryTable{
    overflow:'auto';
    overflow-x:hidden;
}
.sortButton {
    display: flex;
    align-items: center;
}

.numbers .sortButton {
    justify-content: flex-end;
}

.sortButton button {
    margin-left: 0.25em;
}

.countryTable-wrapper {
    overflow-x: auto;
}

.countryTable {
    width: 100%;
}

.countryTable caption {
    text-align: left;
}

/* Align headings to the start */
.countryTable th {
    text-align: left;
}

/* Align numerals to the right */
.countryTable .numbers{
    flex:0 1 25%;
    text-align: right;
    padding:0 7px;
}
