.countryRow{
    display: flex;
    padding: 10px;
    background-color: #fff;;
    border-bottom:1px solid #f1f1f1;
    font-size:14px;
    cursor: pointer;
}

.countryRow:hover{
    background-color: #f1f1f1;
}

.countryName{
    flex-basis:25%;
    font-weight: bold;
}

.numbers{
    flex-basis:25%;
    text-align: right;
    padding:0 7px;
}

.header{
    background-color: #f1f1f1;
    font-weight: bold;
}